/* ToDoList.module.css */


.toDoList{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
    color: white;
}


button{
    font-size:  1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    
}

.addButton{
    background-color: hsl(120, 74%, 46%);
}
.addButton:hover{
    background-color: hsl(120, 74%, 36%);
}

.deleteButton{
    background-color: hsl(0, 100%, 50%);
}
.deleteButton:hover{
    background-color: hsl(0, 100%, 40%);
}
.moveButton{
    background-color: hsl(194, 100%, 60%);
}
.moveButton:hover{
    background-color: hsl(194, 100%, 50%);
}

input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 0%, 0.541);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.507);
    margin-left: 20px;
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 10px;
    background-color: hsl(0, 0%, 97%);
    border: 2px solid rgb(92, 92, 92);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.deleteButton, .moveButton{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}

