.card{
  border: 1px solid hsla(0, 0%, 0%, 0.356);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.199);
  padding: 20px;
  margin: 10px;
  text-align: center;
  min-width: 200px;
  display: inline-block;

}

.card .card-image{
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);

}

.card .card-desc{
  font-family: Arial, sans-serif;
  
  color: hsl(0, 0%, 30%);
}

.card .card-age{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 30%);
}

.button-klik{
  font-size: 2rem;
}

.gambar-apalah{
  width: 200px;
  margin-bottom: 20px;
  display: flex;
}
.counter-container{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

.counter-display{
  font-size: 10rem;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.2rem;
  margin: 0px 5px;
  background-color: hsl(204, 100%, 53%);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.counter-button:hover{
  background-color: hsl(204, 100%, 43%);
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 5px solid hsla(0, 0%, 0%, 0.637);
}

input[type = "color"]{
  width: 90px;
  height: 50px;
  margin: 10px;
}

body{
  background-image: url(assets/1304193.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0px;
}

.clock{
  color: white;
  font-family: monospace;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.616);
}
